node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.tmp/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

logs/
*.log
yarn.lock
pnpm-lock.yaml
package-lock.json
.npm/
.npmrc

.DS_Store
Thumbs.db

*.tsbuildinfo

bin/
lib/
coverage/

.env
.env.local
.env.development
.env.production
.env.test
